In [5]:
import numpy as np
import pandas as pd

## Question 1
What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.23.0'

# Getting the data

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-12 19:15:04--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8003::154, 2606:50c0:8000::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1,4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1,41M  --.-KB/s    in 0,1s

2022-09-12 19:15:05 (10,1 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [7]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [9]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 2
How many records are in the dataset?

In [8]:
df.shape

(11914, 16)

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [16]:
df.groupby('Make').count()['Model'].sort_values(ascending=False).head(6)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Nissan         558
Name: Model, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

In [26]:
df[df.Make == 'Audi'].drop_duplicates(['Model']).shape

(34, 16)

In [28]:
df[df.Make == 'Audi']['Model'].nunique()

34

## Question 5
How many columns in the dataset have missing values?

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [32]:
len(df.columns[df.isnull().any()])

5

## Question 6
Find the median value of "Engine Cylinders" column in the dataset.\
Next, calculate the most frequent value of the same "Engine Cylinders".\
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.\
Now, calculate the median value of "Engine Cylinders" once again.\
Has it changed?\

Hint: refer to existing mode and median functions to complete the task.

In [35]:
df['Engine Cylinders'].median()

6.0

In [38]:
df['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [54]:
most_frequent = df['Engine Cylinders'].value_counts().idxmax()

In [55]:
df['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [58]:
df['Engine Cylinders'].fillna(most_frequent).median()

6.0

## Question 7
Select all the "Lotus" cars from the dataset.\
Select only columns "Engine HP", "Engine Cylinders".\
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).\
Get the underlying NumPy array. Let's call it X.\
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.\
Compute the inverse of XTX.\
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].\
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.\
What's the value of the first element of w?\
Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [62]:
df[df.Make == 'Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [65]:
X_array = df[df.Make == 'Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates().to_numpy()
X_array

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [74]:
XTX = X_array.T @ X_array

In [75]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [76]:
(np.linalg.inv(XTX) @ X_array.T) @ y

array([  4.59494481, -63.56432501])